.fade-in{-webkit-animation:fade-in .2s ease-in-out both;animation:fade-in .2s ease-in-out both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.dash-check {
        .path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 0;
            stroke: #fff;
            &.circle {
                -webkit-animation: dash .9s ease-in-out;
                animation: dash .9s ease-in-out;
            }
            &.check {
                stroke-dashoffset: -100;
                animation: none;
            }
        }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes step-complete {
    0% {
        width: 36px;
        height: 36px;
        background-color: #fff;
        border-color: theme-color("lt-blue");
    }
    50% {
        width: 36px;
        height: 36px;
        background-color: theme-color("lt-blue");
    }
    100% {
        width: 24px;
        height: 24px;
        background-color: theme-color("lt-blue");
        border-color: theme-color("lt-blue");
    }
}
@keyframes step-active {
    0% {
        width: 24px;
        height: 24px;
        border-color: theme-color("lt-gray");
    }
    50% {
        width: 24px;
        height: 24px;
        border-color: theme-color("lt-blue");
    }
    100% {
        width: 36px;
        height: 36px;
        border-color: theme-color("lt-blue");
    }
}

.loader { display: none; }
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: theme-color("primary");
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}