@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/swiper/dist/css/swiper";

$theme-colors: (
    "blue": #0776B2,
    "dk-blue": #1665a3,
    "gray": #0e0e0e,
    "lt-gray": #868686
);
$font-primary: 'Open Sans', sans-serif;
$transition: 0.2s ease-in-out;
//@import "animations";
//@import "forms";
h1, h2, h3, h4, h5 {
    color: theme-color('blue');
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}
body { 
    font-family: $font-primary;
    color: #000;
    font-size: 16px;
    a { 
        color: #000; 
        &:hover { 
            color: theme-color('blue');
            text-decoration: none;
        } 
    }
}
img {
    max-width: 100%;
}
header {
    background-color: theme-color('gray');
    padding: 15px 0px;
    #main-header {
        justify-content: space-between;
        & div:nth-child(2) {
            align-self: center;
        }
        #header-logo {
            width: 100%;
            max-width: 350px;
        }
    }
    #primary-nav{
        display: flex;
        justify-content: space-between;
        align-self: center;
        ul {
            margin-bottom: 0;
            font-weight: 500;
            font-size: 24px;
            li {
                margin-left: 40px;
                a {
                    color: #fff;
                    font-family: 'Titillium Web', sans-serif;
                    &:hover {
                        text-decoration: none;
                        color: theme-color('blue');
                    }
                }
            }
        }
        .sub-menu {
            position: absolute;
            padding-left: 0;
            list-style: none;
            background-color: theme-color('gray'); 
            padding: 0px 15px 15px 15px;
            margin-top: 20px;
            z-index: 10001;
            li {
                margin-left: 0;
            }
        }
    }
}
main {
    box-shadow: inset 0px 11px 8px -10px #111;
//    padding-top: 75px;
}
main > section {
    padding: 2rem 0;
}
#home-banner {
    background-image: url("/img/Home-Page-Bannerx.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 50px;
    padding-bottom: 250px;
    #home-banner-img {
        text-align: center;
        margin-top: 25px;
        h1 {
            color: #fff;
            text-shadow: 2px 2px 2px rgba(58, 58, 58, 0.85);
        }
    }
    #home-banner-btns {
        margin-top: 25px;
        & div:nth-child(1) {
            text-align: center;
        }
        & div:nth-child(2) {
            text-align: center;
            margin-top: 25px;
        }
    }
}
#home-mission {
    background-color: theme-color('gray');
    padding: 75px 0px;
    box-shadow: inset 0px 11px 8px -10px #111, inset 0px -11px 8px -10px #111;
    h2, p {
        color: #fff;
    }
    & div:nth-child(2) {
        align-self: center;
    }
}
#home-cta, #home-cta-2 {
    padding: 75px 0px;
}
#home-cta-2 {
    position: relative;
}
#home-family {
    padding: 75px 0px;
    .container {
        background-color: rgba(255, 255, 255, 0.75);
        text-align: center;
        .col-12 div {
            padding: 25px 15px;
        }
    }
}
#home-di-partner {
    .container {
        position: relative;
    }
    background-color: theme-color('gray');
    text-align: center;
    box-shadow: inset 0px 11px 8px -10px #111, inset 0px -11px 8px -10px #111;
    .col-12 {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    h3 {
        margin-bottom: 25px;
    }
    h3, p {
        color: #fff;
    }
    img {
        position: absolute;
        right: -25px;
    }
}
#home-products {
    padding: 75px 0px;
    text-align: center;
    color: #fff;
    background-image: url('/img/home-page-curve.svg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    h2 {
        color: #fff;
        text-shadow: 2px 2px 2px rgba(58, 58, 58, 0.85);
        margin-bottom: 25px;
    }
    p {
        padding: 25px 0px 0px 0px;
    }
    .home-prod-cta {
        background-color: #000;
        padding: 25px 15px 25px 15px;
        min-height: 506px;
        margin-bottom: 25px;
    } 
}
#home-getStarted {
    background-color: theme-color('gray');
    padding: 75px 0px;
    box-shadow: inset 0px 11px 8px -10px #111, inset 0px -11px 8px -10px #111;
    h2, p {
        color: #fff;
    }
    & div:nth-child(2) {
        align-self: center;
    }
}
#home-blue-circle {
    position: absolute;
    right: 0px; 
    z-index: 1000;
    top: 275px;
    display: none;
}
#home-black-circle {
    position: absolute;
    left: 0px;
    top: -50px;
    display: none;
}
#page-header {
    padding: 50px 0px;
    text-align: center;
    background-image: url('/img/Header-Banner-Bar.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    h1 {
        color: theme-color('blue');
        margin-bottom: 0;
        font-size: 2rem;
        margin-top: 15px;
        font-weight: 700;
    }
}
#page-wrap {
    background-color: #fff; 
    .intro-txt {
        text-align: center;
    }
}
footer {
    padding: 50px 0px 35px 0px;
    background-color: theme-color('gray');
    font-size: 16px;
    h5 {
        color: #fff;
    }
    ul {
        padding-left: 0;
        list-style: none;
        a {
            color: #fff;
            &:hover {
                color: theme-color('blue');
            }
        }
        li {
            color: #fff;
        }
    }
}
#copyright {
    padding: 15px 0px;
    background-color: #fff;
}
a {
    &:hover { 
        color: theme-color('blue'); 
    }
}
.btn {
    font-family: $font-primary;
    font-size: 18px;
    line-height: auto;
    padding: 10px 35px;
    text-align: center;
    background-color: theme-color('blue');
    color: #fff;
    transition: all .2s linear;
    border-radius: 10px;
    margin: 15px 0px;
    &:hover {
        background-color: theme-color('dk-blue');
        color: #fff;
    }
}
.btn-white {
    font-family: $font-primary;
    font-size: 18px;
    line-height: auto;
    padding: 10px 35px;
    text-align: center;
    background-color: theme-color('blue');
    color: #fff;
    transition: all .2s linear;
    border-radius: 10px;
    margin: 15px 0px;
    &:hover {
        background-color: theme-color('dk-blue');
        color: #fff;
    }
}
.resource-btn {
    height: 450px;
    position: relative;
    text-align: center;
    background-color: theme-color('orange');
    box-shadow: -1px 0px 5px 3px rgba(100, 100, 100, 0.5);
    overflow: hidden;
    margin-bottom: 60px;
    a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .res-bkgd-wrap {
        height: 255px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .res-bkgd {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .2s linear;
            transform: scale(1);
            &.res-rx {
                background-image: url('/img/Rx-Form-Resource-PDF-IMG_template.png');
            }
            &.res-specs {
                background-image: url('/img/Torque-Spec-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-cement {
                background-image: url('/img/Cementation-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-code {
                background-image: url('/img/ADA-Code-Product-Breakdown-List-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-di {
                background-image: url('/img/DI-Impression-Guide-Resource-PDF-IMG_template.png')
            }
        }
    }
    &:hover .res-bkgd {
        transform: scale(1.1);
    }
    h3 {
        position: absolute;
        top: 270px;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.7rem;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    hr {
        position: absolute;
        top: 345px;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    .btn {
        position: absolute;
        top: 370px;
        margin: auto;
        left: 25px;
        right: 25px;
        padding: 10px 0px 13px 0px;
        z-index: 2;
    }
}
.product-thumb {
    background-color: theme-color('gray');
    text-align: center;
    padding: 25px 15px;
    margin-bottom: 25px;
    box-shadow: inset 0 0 3px #000;
    position: relative;
    min-height:  363px;
    span {
        color: #fff;
    }
    img {
        max-width: 250px;
        margin-top: -25px;
    }
    h3 {
        margin-top: -25px;
    }
    .prodOverlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(49, 176, 207, 0);
        display: flex;
        text-align: center;
        box-shadow: inset 0 0 3px #000;
        transition: all .2s linear;
        span {
            align-self: center;
            margin: auto;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            font-size: 2.0rem;
            text-shadow: 2px 2px 2px rgba(58, 58, 58, 0.85);
            opacity: 0;
            transition: all .2s linear;
        }
        &:hover {
            background-color: rgba(7, 118, 178, .85);
            span {
                opacity: 1;
            }
        }
    }
}
#mobile-nav-icon {
    #hamIcon {
        width: 50px;
        &:hover {
            cursor: pointer;
        }
    }  
}
#mobile-menu {
    position: absolute;
    background: #fff;
    top: 0;
    bottom: 0;
    z-index: 100001;
    box-shadow: 0px 1px 7px 1px #111;
    transition: all .3s linear;
    width: 215px;
    left: -217px;
    &.show {
        left: 0;
    }
    #closeIcon {
        width: 25px;
        height: 25px;
        float: right;
        margin: 10px;
        &:hover {
            cursor: pointer;
        }
    } 
    div {
        padding-left: 25px;
        padding-top: 5px;
        padding-right: 25px;
        margin-top: 25px;
        h5 {  font-size: 1.05rem; margin-bottom: 0px;margin-top: 10px }
        hr {  margin: 5px 0px; }
        a {
            margin-left: 10px;
            white-space: nowrap;
        }
    }
}
/* Send Case */
.step-num {
    background-color: theme-color('gray');
    text-align: center;
    padding: 15px 15px;
    margin: 25px;
    width: 110px;
    -webkit-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    border-radius: 50%;
    span {
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        font-size: 3rem;
        color: #fff;
        margin-right: 5px;
    }
    &.active {
        background-color: theme-color('blue');
        span {
            color: #151515;
        }
    }
}
.case-step {
    text-align: center;
    h2 {
        margin-top: 30px;
        margin-bottom: 15px; 
    }
    h3 {
        margin-bottom: 15px;
    }
    #zipcode_Field {
        width: auto;
    }
}
/* Forms */
#formContainer {
    input {
        width: 100%;
        margin: 4px 0px;
        padding: 5px 5px;
        border: solid 1px #000;
    }
    .submit {
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
        background: transparent;
        padding: 0px;
        margin: 0px;
    }
    .state {
        margin: 5px 0px;
        height: 34px;
        width: 100%;
        min-width: 65px
    }
     .message {
        width: 100%;
        margin: 4px 0px;
        height: 150px;
        border: solid 1px theme-color('dk-gray');
        padding: 5px;
    }   
}
.form-control {
    margin: 4px 0px;
    padding: 5px 5px;
    border: solid 1px #000;
    border-radius: 0px;
    font-family: inherit;
    font-size: inherit;
}
.responseMessage {
    background-color: #fff;
    margin: 5px 0px;
    padding: 15px;
    color: green;
    display: none;
    text-align: center;
}
/* Case Schedular */
#caseCal-Form {

}
.cal_key {
    float: left;
    width: auto;
    margin-left: 25px;
}
.result-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 15px;
}
#cal-result-column {
   grid-column: span 3; 
}
#case-calendar-wrap {
    float:left;
    padding-bottom:25px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
}
.scb-shipping-day{
    background: #A9D1FE;
}
.scb-processing-day{
    background: #C0FEBA;
}
.scb-in-lab-processing-day{
    background: #d7d8a2;
}
.scb-estimated-delivery-day{
    background: #FE9794;
}
.scb-calendar-results {
    width: 300px;
    display: none;
    background: #bbb;
    padding: 10px;
}
.scb-calender-month {
    background: #798b90 none repeat scroll 0 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid #000;
}
.scb-calender-head {
    background: gray none repeat scroll 0 0;
    color: #000;
}
.scb-calender th,
.scb-calender td{
    padding: 6px 10px;
    border: none;	
}
.scb-calender {
    background: #ccc none repeat scroll 0 0;
    border-bottom: 1px solid #000;
}
.scb-holiday-day{
    background: #fcd17d none repeat scroll 0 0;   
}
#ui-datepicker-div{
    z-index: 99999999 !important;
}
.scb-form-container {
    height: 600px;
    overflow-x: hidden;
}
.cal_table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 250px;
    margin: auto;
    float: left;
}
/* Case Calendar */
.cal_table th{
    border: none;
}
.month_bkdg {
    background-color:#798B90;
    color:#fff;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}
.dayNames{
    background-color:#808080;
    color:#fff; 
    text-align: center;
}
.dayNames th{ 
    font-size: 18px;
    padding: 5px 3px;
    min-width: 43px;
}
.ship_day{
    background-color:#d7d8a2;
    text-align: center;
}
.pre_proc_day {
    background-color:#fe9794;
    text-align: center;
}
.proc_day {
    background-color:#A9D1FE;
    text-align: center;
}
.holiday {
    background-color:#fcd17d;
    text-align: center;
}
.delivery_day {
    background-color:#fe9794;
    text-align: center;
}
.deliv_day {
    background-color:#C0FEBA;
    text-align: center;
}
.norm_day{
   background-color: #CCCCCC; 
   text-align: center;
}
.cal-kay {
    padding-top:5px;
    max-width:220px;
    padding-top: 10px;
    margin-left: 25px;
}
/* Loader Animation */
.loader {
 display:none
}
.loader,.loader:after,.loader:before {
 border-radius:50%;
 width:2.5em;
 height:2.5em;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation:load7 1.8s infinite ease-in-out;
 animation:load7 1.8s infinite ease-in-out
}
.loader {
 font-size:10px;
 margin:80px auto;
 position:relative;
 text-indent:-9999em;
 -webkit-transform:translateZ(0);
 transform:translateZ(0);
 -webkit-animation-delay:-.16s;
 animation-delay:-.16s
}
.loader:after,.loader:before {
 content:"";
 position:absolute;
 top:0
}
.loader:before {
 left:-3.5em;
 -webkit-animation-delay:-.32s;
 animation-delay:-.32s
}
.loader:after {
 left:3.5em
}
@-webkit-keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
@keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
/* Swiper */
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: theme-color('blue');
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: theme-color('blue');
}
/* JQuery UI */
.ui-widget-header .ui-icon {
    background-image: url("/img/ui-icons_454545_256x240.png") !important;
}
.ui-state-default {
    color: theme-color('blue');
}
.ui-state-active {
    border: 1px solid theme-color('blue') !important;
    background: theme-color('blue') !important;
}
.ui-state-default {
    background-color: #fff;
}
.modal {
    overflow: visible;
}
.modal a.close-modal {
    background-image: url('/img/modal-close.png') !important;
}
@media (min-width: 576px){
    
}
@media (min-width: 768px) {
    #home-banner {
        #home-banner-btns {
            & div:nth-child(1) {
                text-align: right;
            }
            & div:nth-child(2) {
                text-align: left;
                margin-top: 0px;
            }
        }
    }
    #page-header {
        h1 {
            font-size: 2.5rem;
        }
    }
}
@media (min-width: 992px) {
    #home-blue-circle {
        display: block;
    }
    #home-black-circle {
        display: block;
    }
}
@media (min-width: 1200px) {

}